.modal {
    position: fixed;
    top: 20%;
    bottom: 0;
    right: 0;
    left: 20%;
    }
    
    .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a94;
    width: 100%;
    height: 100%;
    }
    
    .modal_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0fa4d;
    font-size: 40px;
    width: 70%;
    height: 70%;
    border-radius: 30px;
    border: solid 3px #f7f2ed;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px;
    }
    .container-modal {
        display: flex;
        justify-content: center;
    }
    .btn {
        background: #1bec2c;
        color: black;
        padding: 15px 40px;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }